/* Large view adjustments: show horizontal navigation, larger grid, among others */
@media screen and (min-width: 700px) {

    .site-nav {
        display: flex;
        align-items: center;
    }
 .hamburger {
        display: none;
    }

  
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-gap: 1rem;
    }

    .content {
        max-width: 1100px;
    }
} 